@import url('swiper.css');

html{
  scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Monserat',arial,sans-serif;
}

*{
    box-sizing: border-box;
}

/*Бургер меню*/

.burger-menu{
  display: none;
}

.burger-menu_button {
  position: fixed;
  top: 7px;
  right: 10px;
  z-index: 1001;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
z-index:2003;
  width: 35px;
  height: 3px;
  background-color: #009bf2;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {

  content: '';
  top: -10px;
}

.burger-menu_lines::after {
  width: 20px;
  content: '';
  top: 10px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after{
  width: 35px;
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 0px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
  /* background-image:linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url(../img/02.jpg); */
  /* background-size: cover; */
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_link {
  position: relative;
  z-index: 55;
  text-align: center;
  padding: 17px 35px;
  top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: black;
  transition: 0.4s;
}

.burger-menu_link:hover {
  color: cornflowerblue;
  filter: brightness(0.9);
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}



.header{
    width: 100%;
}

.container{
    padding: 0px 20px;
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}

.header__flex{
    padding-bottom: 14px;
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    width: 170px;
    height: auto;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-right: 35px;
    list-style: none;
}

nav ul li:nth-child(5){
    margin-right: 0;
}

ul li a{
    transition: 0.3s;
    left: -23px;
    color: black;
    position: relative;
    text-decoration: none;
}

ul li:hover a{
    color: #009bf2;
}

.header__btn .btn{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    background-color: #009bf2;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #009bf2;
}

.header__btn .btn:hover{
    background-color: white;
    border: 1px solid #0099f271;
    color: #009bf2;
}

/*section*/

.section{
    transition: 0.3s;
    background:linear-gradient( rgba(44,55,69,0.80), rgba(44,55,69,0.60)), url(../img/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 390px;
}

.section__text{
    padding: 75px 20px 0px 20px;
}

.section__text h3{
    text-align: center;
    color: white;
    font-size: 52px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.section__text p{
    line-height: 35px;
    padding-top: 45px;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*main__flex*/

.main__flex{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart{
    color: white;
    width: 100%;
    max-width: 350px;
    background-color: #0185d0;
}

.cart:nth-child(3){
  height: 230px;
}

.cart h3{
    font-size: 24px;
}

.cart h3 a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.cart p{
    line-height: 27px;
    font-size: 16px;
}

.cart__container{
    padding: 30px 30px 30px 30px;
}

.cart:nth-child(2){
    background-color: #239adf;
}

.cart:nth-child(3){
    background-color: #4eb5f0;
}

/*main__uslugi*/

.main__uslugi{
    padding-top: 50px;
    text-align: center;
}

.main__uslugi h3{
    font-size: 38px;
}

.main__uslugi p{
    line-height: 32px;
    color: rgb(99, 99, 99);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 22px
}

.uslugi__flex{
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart__uslugi__flex{
    display: flex;
}

.cart__uslugi__flex__text{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.cart__uslugi__flex__text a{
    padding-bottom: 20px;
    text-decoration: none;
    color: #009bf2;
    font-weight: bold;
}

.cart__uslugi__flex__text p{
    line-height: 28px;
}

.cart__uslugi{
    background-color: #eeeeee;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

.cart__uslugi:nth-child(1),
.cart__uslugi:nth-child(2),
.cart__uslugi:nth-child(3){
    margin-bottom: 40px;
}

.uslugi__img{
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.uslugi__img:nth-child(2){
    width: 100%;
    max-width: 230px;
    margin: 0 auto;
}


  /*about*/

  .about{
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: #f2f7fa;
  }

  .about__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about__text{
    
    top: -46px;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .about__text h3{
    font-size: 42px;
  }

  .about__text p{
    line-height: 32px;
    font-size: 18px;
  }

  .image{
    width: 100%;
    max-width: 560px;
    height: auto;
  }

  .about__flex__text{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .block{
    width: 100%;
    max-width:200px ;
    
  }

  .block img{
    width: 100%;
    max-width: 50px;
    height: auto;
  }
  
  .block h4{
    font-size: 17px;
  }

  .block p{
    color: #5c5c5c;
    line-height: 28px;
  }

  .block:nth-child(1) p{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }

  .block:nth-child(2) p{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }

  .block:nth-child(3) p{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }

  .block:nth-child(4) p{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }



  /*doctor*/

  .block__doctor{
    padding: 80px 20px 0px 20px;
    text-align: center;
  }

  .block__doctor h3{
    font-size: 42px;
  }

  .block__doctor span{
    line-height: 33px;
    display: block;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    font-size: 23px;
    color: #20202071;
  }

  .doctor__flex{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .cart__doctor{
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #f2f7fa;
    width: 100%;
    max-width: 260px;
    
  }

  .cart__doctor:nth-child(4){
    margin-right: 0px;
  }

  .doctor__img{
    width: 100%;
    max-width: 260px;
    height: auto;
  }

  .cart__doctor h4{
    padding: 0 0 0 20px;
    font-size: 16px;
  }
  
  .cart__doctor p{
    padding: 0 10px 25px 20px;
    font-size: 14px;
    line-height: 26px;
  }

  .block__btn{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doctor__btn{
    transition: 0.3s;
    padding-top: 70px;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid #009bf2;
    border-radius: 100px;
    padding: 22px 50px;
    font-weight: bold;
  }
  .doctor__btn:hover{
    background-color: #009bf2;
    color: white;
  }


  /*container__zayavka*/

  .container__zayavka{
    background:linear-gradient( rgba(44,55,69,0.80), rgba(44,55,69,0.60)), url('../img/download (6).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }

  .zayavka{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }

  .zayavka h3{
    text-align: center;
    color: white;
    font-size: 42px;
  }

  .zayavka p{
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    font-size: 24px;
  }

  .zayavka form{
    padding-top: 60px;
  }

  form input{
    outline: none;
    border: 0;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 17px 23px;
  }

  form input[type='name']{
    width: 100%;
    max-width: 250px;
  }

  form button{
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    border: 0;
    outline: none;
    background-color: #009bf2;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 18px 40px;
  }

  form button:hover{
    background-color: #0099f2b6;
    box-shadow: 0px 5px 0px 0px #ffffffb6;
  }


  /*novosti*/

  .novosti{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .novosti h3{
    font-size: 42px;
  }

  .novosti p{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-size: 23px;
  }

  .novosti__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .cart__novosti{
    margin: 0px 0px 50px 0px;
    position: relative;
    width: 100%;
    max-width: 360px;
  }

  .cart__novosti h4{
    color: white;
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 24px;
  }

  .cart__novosti p{
    line-height: 28px;
    font-size: 18px;
  }

  .novosti__img{
    width: 100%;
    max-width: 360px;
    height: auto;
  }

  .novosti__btn{
    transition: 0.2s;
    top: 10px;
    position: relative;
    text-decoration: none;
    color: black;
    border: 2px solid #009bf2;
    padding: 7px 11px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 13px;
  }

  .novosti__btn:hover{
    color: white;
    background-color: #009bf2;
  }
  .vse-novosti{
    padding-top: 100px;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vse-novosti__btn{
    transition: 0.3s;
    padding-top: 70px;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid #009bf2;
    border-radius: 100px;
    padding: 22px 50px;
    font-weight: bold;
  }

  .vse-novosti__btn:hover{
    background-color: #009bf2;
    color: white;
  }


  /*footer*/

  footer{
    padding: 50px 50px;
    background-color: #0185d0;
    width: 100%;
  }

  .footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .block__logo{
    color: white;
    display: flex;
    flex-direction: column;
  }

  .block__logo span{
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .block__logo img{
    width: 100%;
    max-width: 120px;
    height: auto;
  }

  .icons{
    color: #009bf2;
    font-size: 18px;
    padding-top: 20px;
    display: flex;
  }

  .icons i{
    cursor: pointer;
    padding: 5px;
    border-radius: 100px;
    background-color: white;
    margin-right: 15px;
  }

  .icons i:nth-child(3){
    margin-right: 0px;
  }

  .footer__menu{
    display: flex;
    flex-direction: column;
  }

  .footer__menu h3{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
  }

  .footer__menu a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    line-height: 32px;
  }

  @media screen and (max-width: 1179px){
  .novosti__flex{
    justify-content: center;
  }
}
  @media screen and (max-width: 1109px){
    .doctor__flex{
      justify-content: center;
    }
    .cart__doctor{
      margin-bottom: 30px;
      margin-right: 20px;
      
    }
    .cart__doctor:nth-child(4){
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 1099px){
    .about__flex{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 1089px){
    .main__flex{
      padding-top: 50px;
      justify-content: center;
  }
  .cart{
    margin: 0px 20px 20px 20px;
}
  
}


  @media screen and (max-width: 991px){
    .section{
      position: relative;
      margin-top: 60px;
  }
    .header{
      position: fixed;
      z-index: 100;
      top: 0;
      background-color: white;
  }
    nav{
      display: none;
    }
    ul li a{
      display: none;
    }
    .header__btn .btn{
      display: none;
    }
    .burger-menu{
      display: block;
    }
    .btn__block{
      position: relative;
      top: 140px;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      transition: 0.3s;
      text-decoration: none;
      color: white;
      background-color: #009bf2;
      border-radius: 30px;
      padding: 15px 30px;
      font-weight: bold;
      font-size: 14px;
      border: 1px solid #009bf2;
  }
  
    .btn__block:hover{
      background-color: white;
      border: 1px solid #0099f271;
      color: #009bf2;
  }
  }

  @media screen and (max-width: 944px){
    .about__flex__text{
      justify-content: center;
    }
    .block{
      margin: 0px 40px 50px 40px;
    }
  
  }


@media screen and (max-width: 879px){
  .doctor__flex{
    justify-content: center;
  }
  .cart__doctor{
    margin-bottom: 30px;
    margin-right: 20px;
    
  }

  .cart__doctor:nth-child(3){
    margin-right: 20px;
  }
  .cart__doctor:nth-child(4){
    margin-right: 20px;
  }
}

  @media screen and (max-width:788px){
    .container__zayavka{
      background:linear-gradient( rgba(44,55,69,0.80), rgba(44,55,69,0.60)), url('../img/download (6).jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
    }
  
    .zayavka{
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      height: 500px;
    }
  
    .zayavka h3{
      text-align: center;
      color: white;
      font-size: 42px;
    }
  
    .zayavka p{
      text-align: center;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      color: white;
      font-size: 21px;
    }
  
    .zayavka form{
      padding-top: 60px;
    }

    form{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    form input{
      outline: none;
      border: 0;
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
      padding: 17px 23px;
    }
  
    form input[type='name']{
      width: 100%;
      max-width: 250px;
    }
  
    form button{
      position: relative;
      top: 40px;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 100px;
      border: 0;
      outline: none;
      background-color: #009bf2;
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 18px 40px;
    }
  }

  @media screen and (max-width:660px){
    .section__text{
      padding: 75px 20px 0px 20px;
  }
  
  .section__text h3{
      text-align: center;
      color: white;
      font-size: 42px;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
  }
  
  .section__text p{
      line-height: 35px;
      padding-top: 45px;
      width: 100%;
      max-width: 580px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-size: 18px;
  }
  .swiper-slide h3{
    padding: 0px 20px;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    font-size: 35px;
  }

  .swiper-slide p{
    padding: 0px 20px;
    font-size: 18px;
  }
  .swiper-slide:nth-child(1) {
    height: 450px;
  }
  .swiper-slide:nth-child(2) {
    height: 450px;
  }
  }

  @media screen and (max-width:599px){
    .cart__doctor{
      margin-bottom: 30px;
      margin-right: 0px;
      
    }
  
    .cart__doctor:nth-child(3){
      margin-right: 0px;
    }
    .cart__doctor:nth-child(4){
      margin-right: 0px;
    }
  }

  @media screen and (max-width:577px){
    .container__zayavka{
      background:linear-gradient( rgba(44,55,69,0.80), rgba(44,55,69,0.60)), url('../img/download (6).jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
    }
  
    .zayavka{
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      height: 500px;
    }
  
    .zayavka h3{
      text-align: center;
      color: white;
      font-size: 32px;
    }
  
    .zayavka p{
      text-align: center;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      color: white;
      font-size: 16px;
    }
  
    .zayavka form{
      padding-top: 60px;
    }

    form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    form input{
      margin-bottom: 20px;
      outline: none;
      border: 0;
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
      padding: 17px 23px;
    }
  
    form input[type='name']{
      width: 100%;
      max-width: 250px;
    }
  
    form button{
      position: relative;
      top: 0px;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 100px;
      border: 0;
      outline: none;
      background-color: #009bf2;
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 18px 25px;
      width: 260px;
    }
  
  }

  @media screen and (max-width: 500px){
    .section__text{
      padding: 75px 20px 0px 20px;
  }
  
  .section__text h3{
      text-align: center;
      color: white;
      font-size: 32px;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
  }
  
  .section__text p{
      line-height: 28px;
      padding-top: 45px;
      width: 100%;
      max-width: 580px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-size: 16px;
  }
  .section{
    height: 320px;
}
.block__doctor h3{
  font-size: 30px;
}

.block__doctor span{
  line-height: 30px;
  font-size: 18px;
}
.novosti{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
}

.novosti h3{
  font-size: 30px;
}

.novosti p{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 19px;
}
  
  }

  @media screen and (max-width: 422px){
    .swiper-slide h3{
      padding: 0px 20px;
      width: 100%;
      max-width: 630px;
      margin: 0 auto;
      font-size: 25px;
    }
    .swiper-slide{
      padding-top: 100px;
    }
  
    .swiper-slide p{
      line-height: 28px;
      padding: 0px 20px;
      font-size: 16px;
    }
    .swiper-slide:nth-child(1) {
      height: 400px;
    }
    .swiper-slide:nth-child(2) {
      height: 400px;
    }
  }

  @media screen and (max-width: 400px){
    .cart__novosti h4{
      color: white;
      position: absolute;
      top: 120px;
      left: 10px;
      font-size: 16px;
    }
  
    .cart__novosti p{
      line-height: 28px;
      font-size: 16px;
    }
    .section__text h3{
      font-size: 23x;
  }
  .section__text{
    padding: 40px 20px 0px 20px;
}
  .section__text p{
      line-height: 26px;
      padding-top: 30px;
      font-size: 14px;
  }
  }

  @media screen and (max-width:369px){
    .main__uslugi h3{
      font-size: 29px;
  }
  
  .main__uslugi p{
      line-height: 30px;
      font-size: 18px
  }

  .cart__uslugi__flex__text h3{
    font-size: 16px;
  }

  .cart__uslugi__flex__text a{
      padding-bottom: 20px;
      text-decoration: none;
      color: #009bf2;
      font-weight: bold;
  }
  
  .cart__uslugi__flex__text p{
      font-size: 15px;
      line-height: 25px;
  }
  }

  @media screen and (max-width:342px){
    .cart__uslugi__flex__text{
      padding-right: 10px;
      padding-left: 10px;
  }
  }